:root {
    --bg: #000;
}

html {
    background-color: var(--bg);
    color: aliceblue;
    text-align: center;
}

#container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container > * {
    flex: 1;
}

#linkbox {
    display: flex;
    flex-direction: row;
}