@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
@font-face {
    font-family: "Maple Mono";
    src: url(/extra/MapleMono-Regular.ttf);
}


:root {
    --bg:#24273a;
    --fg: #cad3f5;
    --a: #91d7e3;
}

html {
    background-color: var(--bg);
    color: var(--fg);
    text-align: center;
}

body {
    font-family: 'Maple Mono', monospace;
}

#container {
    position: absolute;
    width: 90%;
    height: 90%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50pt;
}

#container>* {
    flex-grow: 1;
}

#rightbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#linkbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    gap: 20pt;
}

#linkbox>* {
    flex: 2;
}

.linkcontainer {
    flex-grow: 1;
    white-space: nowrap;
    margin: 5%;
    padding: 15pt;
}


a,
a::after {
    color: var(--a);
    font-size: 1.5em;
}

h1 {
    font-size: 2.5em;
    /* 40px/16=2.5em */
}

h2 {
    font-size: 2em;
    /* 30px/16=1.875em */
}

h3 {
    font-size: 1.75em;
}

p {
    font-size: 1.5em;
    /* 14px/16=0.875em */
}